In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\igor\appdata\local\programs\python\python312\lib\site-packages (2.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in c:\users\igor\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\igor\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\igor\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\igor\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\igor\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
import pandas as pd

In [7]:
dict1= {
    'Nome': ['Anderson','Beatriz','Bruno','Cristiano','Daniel','Douglas','Elena','Fabricio'],
    'Chave': ['C0','C1','C2','C3','C4','C5','C6','C7'],
    'Chave1': ['C0','C1','C2','C3','C0','C1','C2','C3'],
    'Idade': [24,36,45,56,29,20,38,47],
    'Cidade': ['Santos','Atibaia','Guarulhos','Atibaia','Santos','Guarulhos','Guarulhos','Atibaia'],
    'Registro': [32123, 45828, 34985, 13457, 98439, 99348, 45019, 24894],
    'Departamento': ['RH', 'PD', 'RH', 'ADM', 'ADM', 'RH', 'ADM', 'PD'],
    'Formação': ['Graduação', 'Mestrado', 'Graduação', 'Técnico', 'Graduação', 'Técnico', 'Graduação', 'Graduação']
}

In [8]:
dafra1 = pd.DataFrame(dict1)

In [9]:
print(dafra1)

        Nome Chave Chave1  Idade     Cidade  Registro Departamento   Formação
0   Anderson    C0     C0     24     Santos     32123           RH  Graduação
1    Beatriz    C1     C1     36    Atibaia     45828           PD   Mestrado
2      Bruno    C2     C2     45  Guarulhos     34985           RH  Graduação
3  Cristiano    C3     C3     56    Atibaia     13457          ADM    Técnico
4     Daniel    C4     C0     29     Santos     98439          ADM  Graduação
5    Douglas    C5     C1     20  Guarulhos     99348           RH    Técnico
6      Elena    C6     C2     38  Guarulhos     45019          ADM  Graduação
7   Fabricio    C7     C3     47    Atibaia     24894           PD  Graduação

In [10]:
dict2= {
    'Nome': ['Gabriel','Janaina','Luiz','Marcos','Nadja','Oswaldo','Patricia','Ricardo'],
    'Chave': ['C0','C1','C2','C3','C4','C5','C6','C7'],
    'Chave1': ['C0','C0','C0','C0','C1','C1','C1','C1'],
    'Idade': [23,56,32,22,36,68,22,38],
    'Cidade': ['Guarulhos','Guarulhos','Atibaia','Guarulhos','Santos','Guarulhos','Guarulhos','Santos'],
    'Registro': [32948, 13480, 22884, 56821, 65938, 12956, 75439, 45392],
    'Departamento': ['PD', 'ADM', 'PD', 'ADM', 'PD', 'RH', 'ADM', 'PD'],
    'Formação': ['Técnico', 'Graduação', 'Graduação', 'Graduação', 'Graduação', 'Mestrado', 'Graduação', 'Mestrado']
}

In [11]:
dafra2 = pd.DataFrame(dict2)

In [12]:
print(dafra2)

       Nome Chave Chave1  Idade     Cidade  Registro Departamento   Formação
0   Gabriel    C0     C0     23  Guarulhos     32948           PD    Técnico
1   Janaina    C1     C0     56  Guarulhos     13480          ADM  Graduação
2      Luiz    C2     C0     32    Atibaia     22884           PD  Graduação
3    Marcos    C3     C0     22  Guarulhos     56821          ADM  Graduação
4     Nadja    C4     C1     36     Santos     65938           PD  Graduação
5   Oswaldo    C5     C1     68  Guarulhos     12956           RH   Mestrado
6  Patricia    C6     C1     22  Guarulhos     75439          ADM  Graduação
7   Ricardo    C7     C1     38     Santos     45392           PD   Mestrado

### Junção Interna

In [17]:
inner_join = pd.merge(dafra1, dafra2, on=['Chave', 'Chave1'], how='inner')
print("Junção interna:")
print(inner_join)

Junção interna:
     Nome_x Chave Chave1  Idade_x   Cidade_x  Registro_x Departamento_x  \
0  Anderson    C0     C0       24     Santos       32123             RH
1   Douglas    C5     C1       20  Guarulhos       99348             RH

  Formação_x   Nome_y  Idade_y   Cidade_y  Registro_y Departamento_y  \
0  Graduação  Gabriel       23  Guarulhos       32948             PD
1    Técnico  Oswaldo       68  Guarulhos       12956             RH

  Formação_y
0    Técnico
1   Mestrado

### Junção Externa à Esquerda

In [18]:
left_join = pd.merge(dafra1, dafra2, on=['Chave', 'Chave1'], how='left')
print("\nJunção externa à esquerda:")
print(left_join)

Junção externa à esquerda:
      Nome_x Chave Chave1  Idade_x   Cidade_x  Registro_x Departamento_x  \
0   Anderson    C0     C0       24     Santos       32123             RH
1    Beatriz    C1     C1       36    Atibaia       45828             PD
2      Bruno    C2     C2       45  Guarulhos       34985             RH
3  Cristiano    C3     C3       56    Atibaia       13457            ADM
4     Daniel    C4     C0       29     Santos       98439            ADM
5    Douglas    C5     C1       20  Guarulhos       99348             RH
6      Elena    C6     C2       38  Guarulhos       45019            ADM
7   Fabricio    C7     C3       47    Atibaia       24894             PD

  Formação_x   Nome_y  Idade_y   Cidade_y  Registro_y Departamento_y  \
0  Graduação  Gabriel     23.0  Guarulhos     32948.0             PD
1   Mestrado      NaN      NaN        NaN         NaN            NaN
2  Graduação      NaN      NaN        NaN         NaN            NaN
3    Técnico      NaN      NaN        NaN         NaN            NaN
4  Graduação      NaN      NaN        NaN         NaN            NaN
5    Técnico  Oswaldo     68.0  Guarulhos     12956.0             RH
6  Graduação      NaN      NaN        NaN         NaN            NaN
7  Graduação      NaN      NaN        NaN         NaN            NaN

  Formação_y
0    Técnico
1        NaN
2        NaN
3        NaN
4        NaN
5   Mestrado
6        NaN
7        NaN

### Junção Externa à Direita

In [19]:
right_join = pd.merge(dafra1, dafra2, on=['Chave', 'Chave1'], how='right')
print("\nJunção externa à direita:")
print(right_join)

Junção externa à direita:
     Nome_x Chave Chave1  Idade_x   Cidade_x  Registro_x Departamento_x  \
0  Anderson    C0     C0     24.0     Santos     32123.0             RH
1       NaN    C1     C0      NaN        NaN         NaN            NaN
2       NaN    C2     C0      NaN        NaN         NaN            NaN
3       NaN    C3     C0      NaN        NaN         NaN            NaN
4       NaN    C4     C1      NaN        NaN         NaN            NaN
5   Douglas    C5     C1     20.0  Guarulhos     99348.0             RH
6       NaN    C6     C1      NaN        NaN         NaN            NaN
7       NaN    C7     C1      NaN        NaN         NaN            NaN

  Formação_x    Nome_y  Idade_y   Cidade_y  Registro_y Departamento_y  \
0  Graduação   Gabriel       23  Guarulhos       32948             PD
1        NaN   Janaina       56  Guarulhos       13480            ADM
2        NaN      Luiz       32    Atibaia       22884             PD
3        NaN    Marcos       22  Guarulhos       56821            ADM
4        NaN     Nadja       36     Santos       65938             PD
5    Técnico   Oswaldo       68  Guarulhos       12956             RH
6        NaN  Patricia       22  Guarulhos       75439            ADM
7        NaN   Ricardo       38     Santos       45392             PD

  Formação_y
0    Técnico
1  Graduação
2  Graduação
3  Graduação
4  Graduação
5   Mestrado
6  Graduação
7   Mestrado

### Junção Externa Completa

In [20]:
outer_join = pd.merge(dafra1, dafra2, on=['Chave', 'Chave1'], how='outer')
print("\nJunção externa completa:")
print(outer_join)

Junção externa completa:
       Nome_x Chave Chave1  Idade_x   Cidade_x  Registro_x Departamento_x  \
0    Anderson    C0     C0     24.0     Santos     32123.0             RH
1         NaN    C1     C0      NaN        NaN         NaN            NaN
2     Beatriz    C1     C1     36.0    Atibaia     45828.0             PD
3         NaN    C2     C0      NaN        NaN         NaN            NaN
4       Bruno    C2     C2     45.0  Guarulhos     34985.0             RH
5         NaN    C3     C0      NaN        NaN         NaN            NaN
6   Cristiano    C3     C3     56.0    Atibaia     13457.0            ADM
7      Daniel    C4     C0     29.0     Santos     98439.0            ADM
8         NaN    C4     C1      NaN        NaN         NaN            NaN
9     Douglas    C5     C1     20.0  Guarulhos     99348.0             RH
10        NaN    C6     C1      NaN        NaN         NaN            NaN
11      Elena    C6     C2     38.0  Guarulhos     45019.0            ADM
12        NaN    C7     C1      NaN        NaN         NaN            NaN
13   Fabricio    C7     C3     47.0    Atibaia     24894.0             PD

   Formação_x    Nome_y  Idade_y   Cidade_y  Registro_y Departamento_y  \
0   Graduação   Gabriel     23.0  Guarulhos     32948.0             PD
1         NaN   Janaina     56.0  Guarulhos     13480.0            ADM
2    Mestrado       NaN      NaN        NaN         NaN            NaN
3         NaN      Luiz     32.0    Atibaia     22884.0             PD
4   Graduação       NaN      NaN        NaN         NaN            NaN
5         NaN    Marcos     22.0  Guarulhos     56821.0            ADM
6     Técnico       NaN      NaN        NaN         NaN            NaN
7   Graduação       NaN      NaN        NaN         NaN            NaN
8         NaN     Nadja     36.0     Santos     65938.0             PD
9     Técnico   Oswaldo     68.0  Guarulhos     12956.0             RH
10        NaN  Patricia     22.0  Guarulhos     75439.0            ADM
11  Graduação       NaN      NaN        NaN         NaN            NaN
12        NaN   Ricardo     38.0     Santos     45392.0             PD
13  Graduação       NaN      NaN        NaN         NaN            NaN

   Formação_y
0     Técnico
1   Graduação
2         NaN
3   Graduação
4         NaN
5   Graduação
6         NaN
7         NaN
8   Graduação
9    Mestrado
10  Graduação
11        NaN
12   Mestrado
13        NaN

### Produto Cartesiano

In [22]:
produto_cartesiano = pd.merge(dafra1, dafra2, how='cross')
print("\nProduto Cartesiano:")
print(produto_cartesiano)

Produto Cartesiano:
      Nome_x Chave_x Chave1_x  Idade_x Cidade_x  Registro_x Departamento_x  \
0   Anderson      C0       C0       24   Santos       32123             RH
1   Anderson      C0       C0       24   Santos       32123             RH
2   Anderson      C0       C0       24   Santos       32123             RH
3   Anderson      C0       C0       24   Santos       32123             RH
4   Anderson      C0       C0       24   Santos       32123             RH
..       ...     ...      ...      ...      ...         ...            ...
59  Fabricio      C7       C3       47  Atibaia       24894             PD
60  Fabricio      C7       C3       47  Atibaia       24894             PD
61  Fabricio      C7       C3       47  Atibaia       24894             PD
62  Fabricio      C7       C3       47  Atibaia       24894             PD
63  Fabricio      C7       C3       47  Atibaia       24894             PD

   Formação_x    Nome_y Chave_y Chave1_y  Idade_y   Cidade_y  Registro_y  \
0   Graduação   Gabriel      C0       C0       23  Guarulhos       32948
1   Graduação   Janaina      C1       C0       56  Guarulhos       13480
2   Graduação      Luiz      C2       C0       32    Atibaia       22884
3   Graduação    Marcos      C3       C0       22  Guarulhos       56821
4   Graduação     Nadja      C4       C1       36     Santos       65938
..        ...       ...     ...      ...      ...        ...         ...
59  Graduação    Marcos      C3       C0       22  Guarulhos       56821
60  Graduação     Nadja      C4       C1       36     Santos       65938
61  Graduação   Oswaldo      C5       C1       68  Guarulhos       12956
62  Graduação  Patricia      C6       C1       22  Guarulhos       75439
63  Graduação   Ricardo      C7       C1       38     Santos       45392

   Departamento_y Formação_y
0              PD    Técnico
1             ADM  Graduação
2              PD  Graduação
3             ADM  Graduação
4              PD  Graduação
..            ...        ...
59            ADM  Graduação
60             PD  Graduação
61             RH   Mestrado
62            ADM  Graduação
63             PD   Mestrado

[64 rows x 16 columns]